$body-bg-color: #EEF2F6;
$body-font-color: #9B9FBC;
$header-bg-color: #404255;
$header-font-color: #fff;
$panel-bg-color: #fff;
$panel-border-color: #E7ECF4;
$panel-header-bg-color: #fff;
$panel-header-font-color: #515363;
$panel-footer-bg-color: #FAFBFD;
$post-bg-color: #fff;
$post-header-menu-color: #C1C4D6;
$comments-bg-color: #FAFBFD;
$comment-bg-color: #FAFBFD;
$primary-button-bg-color: #ED6847;
$primary-button-font-color: #fff;
$profile-header-bg-color: #353749;
$profile-header-menu-bg-color: #fff;
$tooltip-bg-color: #515C71;
$tooltip-font-color: #fff;
