.BorderButton {
  background: #fff;
  border: 1px solid #D9DBE5;
  color: #8C90A8;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer; }
  .BorderButton:hover {
    border-color: #cacddb;
    color: #7d829d; }
  .BorderButton:disabled {
    background: white;
    color: rgba(140, 144, 168, 0.85);
    border-color: white; }
