.Panel {
  background: #fff;
  border: 1px solid #E7ECF4;
  border-radius: 5px;
  margin-bottom: 30px;
  min-width: 295px; }
  .Panel--padded {
    padding: 30px 20px; }
  .Panel__header {
    font-size: 14px;
    font-weight: 700;
    color: #515363;
    border-radius: 5px 5px 0 0;
    background: #fff;
    padding: 20px;
    letter-spacing: 0.5px; }
    .Panel__header--bordered {
      border-bottom: 1px solid #E7ECF4; }
  .Panel__footer {
    font-size: 14px;
    font-weight: normal;
    color: #515363;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    letter-spacing: 0.5px;
    text-align: right;
    background: #FAFBFD;
    border-top: 1px solid #E7ECF4; }
