.PostAction {
  &__link {
    margin: 0 5px 5px 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #9B9FBC;
    border-radius: 100%;
    font-size: 1em;
    z-index: 1;
    transition: all 250ms;

    &:hover {
      background: #E16E54;
    }
  }

  &__icon {
    color: #fff;
  }
}
