@import "./../../_colors.scss";

.Post {
  background: $post-bg-color;
  margin-top: 30px;
  border: 1px solid $panel-border-color;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  position: relative;

  &__inner {
    border-radius: 4px;
    background: $post-bg-color;
    padding: 0 25px 25px 25px;

    &--has-comments {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__content {
    padding: 2px 0 10px 0;
  }

  &__liked-exit {
    transform: scale(1);

    &-active {
      transform: scale(0);
      transition: all 200ms;
    }
  }

  &__likes-wrap {
    width: 96%;
    text-align: right;
    margin: 0 auto;
    padding: 15px 5px;
    border-top: 1px solid $panel-border-color;
  }

  &__likes {
    margin-left: 3px;
    font-size: 0.8em;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    right: -22px;
    padding: 12px 0 0 0;
    color: #95949B;
    font-size: 1.3em;
    transition: all 50ms;
  }
}
