.Post {
  background: #fff;
  margin-top: 30px;
  border: 1px solid #E7ECF4;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  position: relative; }
  .Post__inner {
    border-radius: 4px;
    background: #fff;
    padding: 0 25px 25px 25px; }
    .Post__inner--has-comments {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
  .Post__content {
    padding: 2px 0 10px 0; }
  .Post__liked-exit {
    transform: scale(1); }
    .Post__liked-exit-active {
      transform: scale(0);
      transition: all 200ms; }
  .Post__likes-wrap {
    width: 96%;
    text-align: right;
    margin: 0 auto;
    padding: 15px 5px;
    border-top: 1px solid #E7ECF4; }
  .Post__likes {
    margin-left: 3px;
    font-size: 0.8em; }
  .Post__actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    right: -22px;
    padding: 12px 0 0 0;
    color: #95949B;
    font-size: 1.3em;
    transition: all 50ms; }
