.ProfileHeader {
  display: flex;
  flex-direction: column;
  height: 300px;
  background: #353749;
  margin-bottom: 50px;
  border: 1px solid #E7ECF4;
  border-radius: 10px; }
  .ProfileHeader__avatar-area {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 35px;
    margin-top: auto;
    color: #fff; }
  .ProfileHeader__menu-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    height: 60px;
    background: #fff;
    border-radius: 0 0 8px 8px; }
  .ProfileHeader__button {
    padding: 8px 12px; }
  .ProfileHeader__button-icon {
    margin-right: 3px; }
  .ProfileHeader__details-wrap {
    margin-left: 30px; }
  .ProfileHeader__name {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 3px; }
  .ProfileHeader__location {
    letter-spacing: 0.5px;
    font-size: 0.9em; }
  .ProfileHeader__avatar {
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100px;
    border: 3px solid #fff;
    transform: translateY(30px); }
