@import "colors.scss";

.StatusArea {
  margin-top: 10px;

  &__input {
    padding: 0 5px;
    border-top: none;
    border-bottom: none;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer-button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
