.Input {
  height: 45px;
  width: 100%;
  position: relative;
  border: 1px solid #E7ECF4;
  border-radius: 4px;
  background: #fff; }
  .Input--focused {
    border-color: #F6C8BC; }
    .Input--focused .Input__label {
      top: 7px;
      font-size: 0.8em; }
  .Input__label {
    position: absolute;
    top: 15px;
    left: 12px;
    display: flex;
    align-items: center;
    pointer-events: none;
    transition: 0.2s;
    font-size: 0.9em;
    color: #898DA6; }
  .Input__input {
    padding: 14px 12px 0 12px;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 0.9em;
    color: #4A5056; }
