@import "colors.scss";

.Spinner {
  display: inline-flex;
  width: 100%;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 4px;
  transition: 0.3s all;

  &:hover {
    border-color: #4AA6ED;
  }

  &__input {
    border: none;
    background: transparent;
    min-width: 30px;
    padding: 0 0 0 8px;
    font-size: 0.8em;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    height: 11px;
    padding: 0 8px;
    background: transparent;
    color: #B2B2B2;
    border: none;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      color: #3874CB;
    }
  }

  &__icon {
    line-height: 0;
  }
}
