.Login {
  min-width: 350px;

  &__error {
    background: #CB444A;
    font-size: 0.85em;
    color: #fff;
    padding: 10px 8px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &__input {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
